In [77]:
#import panda libraries to handle data frame
import pandas as pd

# import matplotlib to visualize dataset
import matplotlib.pyplot as plt

#from sklearn import linear regression
from sklearn.linear_model import LinearRegression 

from sklearn.metrics import mean_squared_error, mean_absolute_error

# import warnings library to ignor warnings
import warnings as wr
wr.filterwarnings('ignore')

In [78]:
# making data frame from csv file
df=pd.read_csv('Dataset1.csv')

In [79]:
# printing the first 5 rows
df.head()

,ID,TI1,TI2,TI3,TI4,CWND1,CWND2,CWND3,CWND4,TP1,TP2,TP3,TP4,Output
0,N8Hl1uuP5h,1.106900,1.896857,2.153697,2.543711,0,8192,12288,13312,1.933357,1.649206,1.335429,1.049068,1
1,eNTqXDBUI7,1.314599,1.711521,2.390772,2.861162,0,10240,13312,13312,1.823952,1.612629,1.353219,1.283225,1
2,WgTIHJUSMw,1.588305,1.857675,2.060444,2.979751,5120,8192,10240,14336,1.885720,1.613689,1.328536,1.153529,1
3,JdTS8Z8n7p,1.781265,1.728004,2.766925,2.889295,1024,7168,11264,15360,1.934128,1.636747,1.308417,1.010096,1
4,VlUx3gK5Mw,1.702065,1.920207,2.439542,2.903092,4096,10240,13312,17408,1.845988,1.624620,1.316087,1.236316,1

In [80]:
# printing shape
df.shape

(1000, 14)

In [81]:
# printinf information about the data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
ID        1000 non-null object
TI1       1000 non-null float64
TI2       1000 non-null float64
TI3       1000 non-null float64
TI4       1000 non-null float64
CWND1     1000 non-null int64
CWND2     1000 non-null int64
CWND3     1000 non-null int64
CWND4     1000 non-null int64
TP1       1000 non-null float64
TP2       1000 non-null float64
TP3       1000 non-null float64
TP4       1000 non-null float64
Output    1000 non-null int64
dtypes: float64(8), int64(5), object(1)
memory usage: 109.5+ KB

In [82]:
# print the column names
df.columns

Index(['ID', 'TI1', 'TI2', 'TI3', 'TI4', 'CWND1', 'CWND2', 'CWND3', 'CWND4',
       'TP1', 'TP2', 'TP3', 'TP4', 'Output'],
      dtype='object')

In [83]:
x = df.drop("Output", axis=1) #Feature Matrix
x = df.drop("ID",axis=1)  #drop ID column

In [84]:
x.head()

,TI1,TI2,TI3,TI4,CWND1,CWND2,CWND3,CWND4,TP1,TP2,TP3,TP4,Output
0,1.106900,1.896857,2.153697,2.543711,0,8192,12288,13312,1.933357,1.649206,1.335429,1.049068,1
1,1.314599,1.711521,2.390772,2.861162,0,10240,13312,13312,1.823952,1.612629,1.353219,1.283225,1
2,1.588305,1.857675,2.060444,2.979751,5120,8192,10240,14336,1.885720,1.613689,1.328536,1.153529,1
3,1.781265,1.728004,2.766925,2.889295,1024,7168,11264,15360,1.934128,1.636747,1.308417,1.010096,1
4,1.702065,1.920207,2.439542,2.903092,4096,10240,13312,17408,1.845988,1.624620,1.316087,1.236316,1

In [85]:
y=df["Output"] #Target Variable

In [86]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Output, dtype: int64

In [87]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, train_size=0.7, test_size=0.3,random_state=109)

In [88]:
X_train.shape

(700, 13)

In [89]:
X_test.shape

(300, 13)

In [90]:
y_train.shape

(700,)

In [91]:
y_test.shape

(300,)

In [92]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)

In [93]:
# train the model
clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [94]:
y_pred = clf.predict(X_test)

In [95]:
y_pred

array([2, 4, 4, 4, 1, 4, 3, 2, 3, 2, 2, 4, 3, 2, 1, 2, 3, 1, 1, 1, 2, 2,
       2, 2, 4, 2, 1, 2, 4, 4, 3, 2, 4, 3, 1, 2, 3, 4, 2, 3, 2, 1, 4, 3,
       3, 4, 2, 1, 3, 4, 3, 2, 1, 1, 4, 3, 1, 3, 2, 4, 4, 4, 4, 1, 2, 1,
       2, 2, 4, 4, 2, 1, 4, 3, 2, 3, 3, 4, 3, 3, 4, 4, 4, 3, 3, 2, 3, 1,
       2, 2, 4, 3, 2, 1, 4, 3, 3, 3, 4, 4, 1, 4, 3, 4, 2, 2, 2, 4, 2, 4,
       3, 2, 3, 4, 2, 4, 4, 3, 1, 3, 3, 4, 3, 4, 1, 1, 4, 4, 2, 4, 4, 1,
       1, 3, 3, 4, 2, 3, 1, 3, 3, 1, 3, 4, 3, 4, 1, 3, 3, 3, 4, 4, 3, 2,
       2, 2, 3, 2, 1, 4, 3, 3, 3, 4, 1, 2, 4, 1, 3, 3, 4, 4, 2, 4, 4, 2,
       4, 1, 1, 3, 3, 4, 4, 4, 3, 4, 3, 4, 3, 4, 3, 2, 3, 4, 4, 2, 4, 4,
       3, 3, 2, 2, 3, 1, 4, 2, 2, 2, 4, 3, 2, 3, 3, 4, 2, 4, 3, 2, 3, 3,
       4, 3, 2, 3, 3, 4, 2, 3, 4, 2, 2, 2, 1, 1, 3, 2, 3, 1, 2, 4, 4, 3,
       1, 2, 4, 3, 4, 4, 1, 4, 2, 4, 2, 1, 4, 1, 4, 1, 2, 1, 4, 1, 1, 4,
       2, 1, 2, 2, 4, 3, 2, 3, 4, 4, 4, 4, 3, 2, 3, 2, 3, 1, 3, 1, 3, 2,
       3, 3, 3, 3, 4, 3, 1, 2, 2, 4, 4, 1, 4, 1], dtype=int64)

In [96]:
from sklearn.metrics import precision_score

In [107]:
running_secs

# precision score using decision tree
precision_score(y_test, y_pred, average='micro')

2

In [103]:
#Create a svm Classifier
clf_svm = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf_svm.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf_svm.predict(X_test)

In [104]:
# precision score using svm
precision_score(y_test, y_pred, average='micro')

0.9766666666666667